.page-container {
    position: relative;
    min-height: 94vh;
}

.content-wrapper {
    width: 80vw;
    margin: auto;
}

.title {
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    padding: 4rem;
}


.cc-area {
    max-width: 96rem;
    margin: 8rem auto;
    padding: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    background: #1d232a;
    border-radius: 8px;
    border: 2px solid #363d48;
}

.cc-view {
    position: relative;
}

.cc-datas {    
    position: absolute;
    bottom: 2.8rem;
    left: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.cc-flag {
    position: absolute;
    right: 0;
    top: -65px;
}

.cc-datas .cc-number-view{
    font-size: 2.4rem;
    font-weight: bold;
}

.cc-datas h5{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.9rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    
    color: #fff;
}

.cc-datas p {
    font-size: 10px;
    line-height: 12px;
    color: #cacaca;
    margin-bottom: 0;
}

.cc-datas .col-3 {
    display: flex;
    gap: 11rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form label {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .15rem;

    letter-spacing: 0.01px;
    text-transform: uppercase;
}

form input {
    height: 40px;
    background: #161a20;
    border: 1.5px solid #2f3640;
    outline: none;
    border-radius: 6px;
    padding-left: 1rem;
    color: #fff;

    text-transform: uppercase;
}

form input:focus {    
    border: 2px solid #59606d;
}

form .col-2 {
    width: 100%;
    display: flex;
    gap: 1.6rem;
}

form .col-2 .input-wrapper {
    width: 100%;
}

form a {
    width: 100%;
    height: 4rem;
}

form .btnFinished {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;

    background-color: #0c0e12;
    border: none;
    border-radius: 8px;

    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .1rem;

    cursor: pointer;

    transition: transform .5s;
}

.btnFinished:hover {
    transform: scale(1.03);
}

.confirmation-msg {
    margin: 8rem auto;
    text-align: center;
}

@media (max-width: 1050px) {
    .cc-area {
        width: 100%;
        display: inline-block;
        margin: 8rem auto;    
    }

    .cc-view {
        margin-bottom: 2.8rem;
    }
}

@media (max-width: 720px) {
    .cc-area {
        padding: 3rem;
    }
}

@media (max-width: 590px) {
    .cc-view img {
        width: 100%;
    }

   form .col-2 {
        flex-direction: column;
    }

    .cc-datas {    
        position: absolute;
        bottom: 1rem;
        left: 1.5rem;
    
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .cc-flag {
        position: absolute;
        right: 0;
        top: -35px;
    }

    .cc-datas .col-3 {
        display: flex;
        gap: 7rem;
    }
}